= simple_form_for student do |f|
  = f.input :first_name
  = f.input :last_name
  = link_to 'Add birthdate', "", onclick: "showBirthdayForm()", remote: true, id: "birthdate_link", class: 'btn btn-default'
  = f.input :birthdate, as: :string, input_html: { :class => 'date_picker' }
  = f.association :subject_items, label_method: :title, value_method: :id, label: 'Subject Items', as: :check_boxes
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit