- breadcrumb :accounts

%table.table.table-condensed#accounts
  %thead
    %tr
      %th= t('student.columns.first_name')
      %th= t('student.columns.last_name')
      %th= t('student.columns.balance')
      %th= t('student.columns.payment_date')
  %tbody
    -accounts.each do |account|
      %tr
        %td= account.student.first_name
        %td= account.student.last_name
        %td= account.balance
        %td= account.payment_date